# Виртуальное окружение
.venv/
venv/

# Python-кеши
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Конфиги окружения (секреты, токены и т.п.)

.envs/.env.local
# Docker-артефакты (на всякий случай)
*.pid

# IDE и редакторы
.vscode/
.idea/
*.iml

# Системные файлы macOS
.DS_Store